---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'PT Serif', serif !important;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.6em;

$spacing-unit:     15px;

$text-color:       #111;
$background-color: #f9f9f9;
$brand-color:      #2a7ae2;
$brand-top-color:  #2583ad;
$hover-color:      #669900;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$code-backgroud-color: #29281e;
$code-font-color:  #eee;


// Width of the content area
$content-width:    960px;
$page-width:       1000px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"_syntax-highlighting-native" // "syntax-highlighting"
;

@import url('http://fonts.googleapis.com/css?family=Open+Sans');

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

p.indent{
    margin-left:2em
}

p.indent2{
    margin-left:4em
}

p.topic{
    font-variant: small-caps;
    font-size: 150%;
}

div.indent{
    margin-left:2em
}

.date {
	clear: left;
	float: left;
	padding-top: 2px;
	width: 15%;
}
.CVcontent {
	clear: both;
	width: 100%;
  margin-left:1em
}
.CV_data {
	float: left;
	width: 80%;
}

hr.style14 {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  min-height: 100%;
  max-width: -webkit-calc(1000px - (15px * 2));
  max-width: calc(1000px - (15px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 10px #BBB; }

/* Flex grid CSS */

.thumbnail-grid {
	user-select: none
}
.thumbnail-grid figure {
	position: relative;
	min-width: 200px;
	height: 150px;
	margin: 5px;
	border-radius: 3px;
	box-shadow: inset 0 -40px 0 0 rgba(0,0,0,.3);
	transition: all .2s ease-in-out
}
.thumbnail-grid figure:hover {
	box-shadow: inset 0 -150px 0 0 rgba(0,0,0,.7);
}
.thumbnail-grid figcaption {
	position: absolute;
  font-size: 100%;
	width: 100%;
	text-align: center;
	color: #ffffff;
	text-shadow: 0 0 7px #000;
	bottom: 10px;
	transition: all .2s ease-in-out
}
.thumbnail-grid figure:hover figcaption {
	bottom: 60px
}
.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch
}
.flex-item {
	flex: 1 0 auto
}

/* Thumbnails, just for demo purposes */
.thumbnail-grid figure.i1 {
	background: url(https://pr-curtis.github.io/images/net_sml.png) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i2 {
	background: url(https://pr-curtis.github.io/images/pal_sml.png) no-repeat center;
	background-size: cover
}
.thumbnail-grid figure.i3 {
	background: url(https://pr-curtis.github.io/images/toki_sml.png) no-repeat center;
	background-size: cover
}
/* Thumbnails for HiDPI/retina screens */
@media print,
	(-o-min-device-pixel-ratio: 5/4),
	(-webkit-min-device-pixel-ratio: 1.25),
	(min-resolution: 120dpi) {
	.thumbnail-grid figure.i1 {
		background-image: url(https://pr-curtis.github.io/images/net_lrg.png)
	}
	.thumbnail-grid figure.i2 {
		background-image: url(https://pr-curtis.github.io/images/pal_lrg.png)
	}
	.thumbnail-grid figure.i3 {
		background-image: url(https://pr-curtis.github.io/images/toki_lrg.png)
	}
}

/* figures and thumbnails */

figure {
  padding:0;
  margin:0;
  border:1px solid gray;
}

/* force image to fit into and fill figure tag */

figure img {
  width:100%;
  padding-bottom: 2px;
}

figcaption {
  border:0px solid gray;
  font-size:11px;
  line-height: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.quarter-width {
  width:25%;
}

.half-width {
  width:50%;
}

.full-width {
  width:100%;
}

.three-quarter-width {
  width:75%;
}

.thirty-five-width {
  width:35%;
}

.text-right {
  text-align:right;
}

.text-center {
  text-align:center;
}

.container-figure {
  border:1px solid gray;
}

.container-figurehoriz {
  border:1px solid gray;
  margin: 0 0 .5rem 2rem;
}

.float-right {
  float:right;
  margin: 0 0 .5rem 2rem;
}

.float-left {
  float:left;
  margin: .5rem 2rem 0 0;
}

hr {
  margin: 2em 0;
}

.no-wrap-text {
	overflow: hidden;
}

.display-center {
  display: flex;
  justify-content: center;
}
