
<div class="sidebar-module about">
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <br />
<center>
<p>Ph.D. Candidate<br>Department of History<br>University of Michigan
</center>
</div>
<center>
<a href="mailto:prcurtis@umich.edu"><img src="{{site.contact_emailicon}}" alt="Email"/></a>
<a href="http://www.twitter.com/paularcurtis"><img src="{{site.contact_twittericon}}" alt="Twitter"/></a>
<a href="https://www.linkedin.com/in/paularcurtis/"><img src="{{site.contact_linkedinicon}}" alt="LinkedIn"/></a>
<a href="https://umich.academia.edu/PaulaCurtis"><img src="{{site.contact_academiaicon}}" alt="Academia.edu"/></a>
<p>&nbsp;

</center>
