
<div class="sidebar-module about">
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
<center>
<p>Historian<br>Project Juggler<br>Blogs & Tweets
</center>
</div>
<center>
<a href="http://www.twitter.com/paularcurtis"><img src="{{site.contact_twittericon}}" alt="Twitter"/></a>
<a href="https://yale.academia.edu/PaulaCurtis"><img src="{{site.contact_academiaicon}}" alt="Academia.edu"/></a>
<a href="https://www.linkedin.com/in/paularcurtis/"><img src="{{site.contact_linkedinicon}}" alt="LinkedIn"/></a>
<a href="https://hcommons.org/members/prcurtis/"><img src="{{site.contact_humcommicon}}" alt="Humanities Commons"/></a>
<a href="https://patreon.com/prcurtis"><img src="{{site.contact_patricon}}" alt="Patreon"/></a>
<p>&nbsp;

</center>
