<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">

      </div>
      <a href="https://github.com/yulijia/freshman21/">Theme design</a>: <a href="http://yulijia.net">Lijia Yu</a> | Icons: <a href="http://iconmonstr.com">iconmonstr</a> | Content © Paula R. Curtis 2017-2021. <a href="https://ko-fi.com/prcurtis"><img src="/images/kofi_square2.png" alt="Kofi" width="25px"> appreciated</a>.

    </div>
  </div>

</footer>
