<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


  <!-- Bootstrap -->
  <link href="https://pr-curtis.github.io/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://pr-curtis.github.io/js/bootstrap.min.js"></script>
<div class="post">
</head>

{% include head.html %}

<body>

<div class="container">

  {% include header.html %}

  {% if site.default_column == "one" %}

  <div class="page-content col-sm-8">
    {{ content }}
    {% include post_pagination.html %}
  </div>

  {% else %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>
  {% include post_pagination.html %}

  {% endif %}

  {% include footer.html %}

</div>

</body>

</html>
