---
layout: default0
---
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Bootstrap -->

  <link href="https://prcurtis.com/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://prcurtis.com/js/bootstrap.min.js"></script>
  <link href="/css/bigfoot-default.css" rel="stylesheet">
  <script type="text/javascript" src="https://prcurtis.com/js/bigfoot.js"></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

  <script type="text/javascript">
      $.bigfoot();
  </script>


<!-- DataTables scripts -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>


<!-- begin scripts -->
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
<!-- end scripts -->




</head>
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | replace: page.title, site.locales[site.default_locale][page.title] }}</h1>
  </header>

  {% include head.html %}

  <article class="post-content">

    {{ content }}
  </article>

  {% if page.comments %}
  {% include comments.html %}
  {% endif %}

</div>
